.pageRegister {
	width: 100%;
	height: auto;
	flex: auto;
	display: flex;
	justify-content: space-between;
}
.block {
	width: 50%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.blockLeft {
	background-color: #fff;
	color: #000;
}

.blockRight {
	background-color: #000000;
	color: #fff;
}

