.button {
	padding: 10px 20px;
	width: 100%;
	max-width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	outline: none;
	color: #000;
	position: relative;
	margin: 15px 0;
}

.button .loading {
	position: absolute;
	right: 10px;
	top: 10px;
	color: #000;
}

