.button {
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;
	background-color: #000;
	position: relative;
	margin: 15px 0;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
	svg {
		margin-right: 10px;
		width: 20px;
		height: 20px;
		fill: #fff;
	}
	&:hover {
		background-color: #686868;
		color: #fff;
	}
	.loading {
		position: absolute;
		right: 10px;
		top: 10px;
		color: #000;
	}
	&.large {
		padding: 15px 20px;
		width: 100%;
		max-width: 300px;
	}
	&.small {
		padding: 5px 10px;
		width: fit-content;
	}
	&.medium {
		padding: 15px 20px;
		width: 100%;
		max-width: 200px;
	}
}

